<%= form_with(model:[book, book_comment], remote: true) do |f| %>
        <div class="form-group">
          <%= f.label :Comment %>
          <%= f.text_area :comment, :size => "90×10", class: "form-control" %>
        </div>
        <%= f.submit "送信" %>
      <% end %>